--extra-index-url https://alpine-wheels.github.io/index

apscheduler
azure-identity
azure-mgmt-compute
azure-mgmt-network
azure-mgmt-storage
azure-mgmt-subscription
azure-storage-file-datalake
boto3
botocore
elastic-apm
flask
fort
google-api-python-client
google-auth
google-cloud-storage
icalendar
lxml
markdown
notch
oauth2client
psycopg2
pyjwt
requests
unidecode
waitress
werkzeug
whitenoise
xlsxwriter
